.header {
  padding: 16px 0;
  background-color: var(--primary-white);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-nav {
  display: none;
}

.nav-list {
  display: flex;
  gap: 16px;
}

.resume-btn {
  display: none;
}

.burger-btn {
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: block;
  }
  
  .resume-btn {
    display: block;
  }

  .burger-btn {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .nav-list {
    gap: 32px;
  }
  
}