.my-experience-section {
  background-color: var(--primary-black);
  padding: 40px 0;
}

.my-experience-section-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.my-experience-section-heading {
  padding: 20px;
  color: var(--primary-white);
  text-align: center;
}

.my-experience-article {
  min-height: 192px;

  display: flex;
  flex-direction: column;
  gap: 29px;

  padding: 30px 24px;
  border: 1px solid var(--zinc-500);
  border-radius: 10px;

  transition: all .2s ease;
}

.my-experience-article:hover {
  background-color: var(--zinc-800);
}

.my-experience-article-head {
  display: flex;
  align-items: center; 
  gap: 30px;

  margin-bottom: 30px;
}

.my-experience-article-heading {
  color: var(--primary-white);
}

.my-experience-article-date-of-existence,
.my-experience-article-text {
  color: var(--zinc-300)
}

@media screen and (min-width: 800px) {
  .my-experience-article-head-date-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .my-experience-article-head {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .my-experience-section {
    padding: 80px 0 100px;
  }
}